.u-section-1 .u-sheet-1 {
  min-height: 979px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/274686858-0.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2 .u-text-1 {
  width: 762px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 30px 135px 0 247px;
}

.u-section-2 .u-list-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 210px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 219px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  font-weight: 500;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-14 {
  font-style: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 0.9375rem;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 102px;
    margin-left: 147px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 173px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 181px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 398px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 644px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/1328.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 873px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 13px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 550px;
  margin: 14px 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 277px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-image-1 {
  width: 349px;
  height: 354px;
  margin: -346px auto 0 141px;
}

.u-section-3 .u-image-2 {
  width: 311px;
  height: 307px;
  margin: 13px 111px 0 auto;
}

.u-section-3 .u-list-2 {
  width: 550px;
  margin: -277px auto 60px 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 277px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-list-1 {
    width: 543px;
    margin-top: 86px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-image-1 {
    height: 277px;
    object-position: 50% 0%;
    width: 377px;
    margin-top: -339px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 309px;
    width: 358px;
    margin-top: 118px;
    margin-right: 24px;
  }

  .u-section-3 .u-list-2 {
    width: 523px;
    margin-top: -326px;
    margin-left: 13px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 168px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 299px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-image-1 {
    margin-top: -642px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 378px;
    margin-right: auto;
  }

  .u-section-3 .u-list-2 {
    margin-top: 9px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 188px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -617px;
    margin-right: 70px;
  }

  .u-section-3 .u-image-2 {
    height: 252px;
    width: 360px;
    margin-top: 353px;
  }

  .u-section-3 .u-list-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 101px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 272px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 250px;
    width: 340px;
    margin-top: -779px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 326px;
    width: 311px;
    margin-top: 542px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 418px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/weeee-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 645px;
}

.u-section-4 .u-text-1 {
  line-height: 1.2;
  font-family: Alata;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 84px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 79px auto 0;
}

.u-section-4 .u-form-1 {
  height: 56px;
  width: 530px;
  margin: 26px auto 0;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 16px auto 0 382px;
}

.u-section-4 .u-text-4 {
  line-height: 1.2;
  font-family: Alata;
  text-align: center;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 26px auto 0 369px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 35px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 105px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-1 {
  width: 160px;
  height: 48px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 105px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-image-2 {
  width: 160px;
  height: 47px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 105px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-4 .u-image-3 {
  width: 160px;
  height: 47px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 315px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 56px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 241px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 67px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 181px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
    margin-top: 72px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -3px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 14px;
    font-family: Roboto, sans-serif;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 95px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 95px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/fgfg-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 587px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 514px;
  margin: 70px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 44px 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 289px;
  grid-gap: 22px 22px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 12px;
}

.u-section-5 .u-image-1 {
  width: 302px;
  height: 178px;
  margin: 10px 20px 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  width: 260px;
  margin: 37px auto -10px;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 12px;
}

.u-section-5 .u-image-2 {
  width: 302px;
  height: 178px;
  margin: 10px 20px 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  width: 260px;
  margin: 37px auto -10px;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 12px;
}

.u-section-5 .u-image-3 {
  width: 302px;
  height: 178px;
  margin: 10px 20px 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  width: 260px;
  margin: 37px auto -10px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 0% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 238px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-5 .u-image-1 {
    width: 228px;
    height: 166px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: 30px 19px 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 10px 0;
  }

  .u-section-5 .u-image-2 {
    width: 228px;
    height: 166px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 30px 19px 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 10px 0;
  }

  .u-section-5 .u-image-3 {
    width: 228px;
    height: 166px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin: 30px 19px 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 61.51% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 547px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 42.74% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 51px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 683px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 25px;
    margin-right: 28px;
    margin-left: 34px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 25px;
    margin-right: 28px;
    margin-left: 34px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 25px;
    margin-right: 28px;
    margin-left: 34px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 828px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: 68px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 866px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 386px;
  height: 592px;
  margin: 107px 7px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 866px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-shape-1 {
  width: 440px;
  height: 747px;
  margin: 29px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -651px 17px 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-align: center;
  margin: 20px 17px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  margin: 25px 42px 0 35px;
}

.u-section-6 .u-image-2 {
  width: 170px;
  height: 128px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 842px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 842px;
  }

  .u-section-6 .u-shape-1 {
    height: 676px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: -580px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 11px;
    margin-left: 10px;
    font-weight: normal;
  }

  .u-section-6 .u-text-3 {
    margin-left: 29px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1248px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-6 .u-shape-1 {
    height: 380px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -340px;
    margin-right: 14px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-image-2 {
    width: 484px;
    height: 463px;
    margin-top: -309px;
    margin-right: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 254px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 936px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-shape-1 {
    height: 460px;
    margin-top: -190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: -426px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 336px;
    height: 279px;
    margin-top: -7px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 491px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 647px;
  }

  .u-section-6 .u-shape-1 {
    height: 578px;
    margin-top: -15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -532px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-2 {
    width: 297px;
    height: 302px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/SL_111219_25000_20.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 603px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 331px;
  margin: 24px auto 0;
}

.u-section-7 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 423px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-7 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 45px;
}

.u-section-7 .u-image-2 {
  width: 159px;
  height: 159px;
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 45px;
}

.u-section-7 .u-image-3 {
  width: 159px;
  height: 159px;
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-10 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 45px;
}

.u-section-7 .u-image-4 {
  width: 159px;
  height: 159px;
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-11 {
  width: 712px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-13 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 46px;
  height: 46px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 46px;
  height: 46px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 701px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 75px;
    padding-left: 70px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 75px;
    padding-left: 70px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 75px;
    padding-left: 70px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 75px;
    padding-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-slider-1 {
    margin-bottom: 40px;
    min-height: 449px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/graphic-question-mark-asking-symbol.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 891px;
}

.u-section-8 .u-text-1 {
  width: 270px;
  margin: 47px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-accordion-1 {
  margin-top: 60px;
  margin-bottom: -36px;
}

.u-section-8 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 165px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: 0;
}

.u-section-8 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 165px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 19px 4px;
}

.u-section-8 .u-text-3 {
  line-height: 25.6px;
  margin: 0 31px;
}

.u-section-8 .u-accordion-item-3 {
  margin-left: auto;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 165px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 14px;
}

.u-section-8 .u-text-4 {
  margin: 0;
}

.u-section-8 .u-accordion-item-4 {
  margin-left: auto;
}

.u-section-8 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 165px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-8 .u-text-5 {
  margin: 28px 20px 0;
}

.u-section-8 .u-accordion-item-5 {
  margin-left: auto;
}

.u-section-8 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-8 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-5 {
  min-height: 165px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 622px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px 50px 0;
}

.u-section-8 .u-image-1 {
  height: 309px;
  width: 310px;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  margin: 38px auto 0;
  padding: 14px 52px 15px 51px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-8 .u-icon-1 {
    color: rgb(153, 153, 153);
  }

  .u-section-8 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-8 .u-icon-2 {
    color: rgb(153, 153, 153);
  }

  .u-section-8 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-3 {
    color: rgb(153, 153, 153);
  }

  .u-section-8 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-8 .u-icon-4 {
    color: rgb(153, 153, 153);
  }

  .u-section-8 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-5 {
    color: rgb(153, 153, 153);
  }

  .u-section-8 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    height: 299px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1824px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-top: -12px;
    margin-left: 2px;
    margin-right: 2px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/fgfg-min1.jpg");
}

.u-section-9 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-9 .u-list-1 {
  width: 995px;
  margin: 70px auto 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 10px;
  width: 64px;
  color: rgb(16, 129, 224) !important;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 70px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 70px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 70px 0 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 39px auto 50px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 598px;
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-9 .u-form-1 {
  height: 336px;
  width: 510px;
  margin: 47px 0 0;
}

.u-section-9 .u-label-1 {
  font-weight: 700;
}

.u-section-9 .u-label-2 {
  font-weight: 700;
}

.u-section-9 .u-label-3 {
  font-weight: 700;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 598px;
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 237px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-9 .u-form-1 {
    width: 410px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 545px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 567px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-4 {
    font-size: 2.75rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 357px;
  }
}